
.navbar{
    background-color: #0000004f;
    
}
.navbar-brand{
    color: #15a1f1 !important;
    font-size: 24px;
   
}

.logo{
    height: 40px;
    margin-top: -3px;
}

.nav-link{
    color: white !important;
    text-transform: uppercase;
    transition: color 0.8s ease;
}
.nav-link:hover{
    color: #15a1f1 !important;
    
}

#headerSection{
    background: url('../images/photo.jpg') no-repeat center fixed;
    background-size: cover;
    
    
}

#headerSectionService{
    background: url('../images/photo.jpg') no-repeat center fixed;
    background-size: cover;
    
    
}

#headerSectionService .row{
    height: 70vh;
    
}

#headerSectionContact{
    background: url('../images/photo.jpg') no-repeat center fixed;
    background-size: cover;
    
    
}

#headerSectionContact .row{
    height: 75vh;
    
}

#headerSectionPros{
    background: url('../images/photo.jpg') no-repeat center fixed;
    background-size: cover;
    
    
}

#headerSectionPros .row{
    height: 70vh;
    
}

.yazi a{
    color: #C0C0C0;
}



#headerSection2{
    background: url('../images/photo2.jpg') no-repeat center fixed;
    background-size: cover;
    
}

#headerSection3{
    background: url('../images/photo3.jpg') no-repeat center fixed;
    background-size: cover;
    

}

#headerSection4{
    color: white;
    background-color: gray;
    background-size: c"over";
    height: 100vh;
}


#headerSection4.row{
    height: 100vh;
}

#headerSection3 .row{
    height: 100vh;
}

#headerSection2 .row{
    height: 100vh;
}

#headerSection .row{
    height: 100vh;
} 

.display-1{
    color: white !important;
    font-family: 'Roboto', sans-serif;

}
.text-muted{
    color: white !important;
}


#features h5{
    line-height: 40px;
}

#features2 h5{
    line-height: 40px;
}

#features3 h5{
    line-height: 40px;
}



.dropdown:hover>.dropdown-menu{
    display: block;
}

.dropdown-menu:hover{
    display: block;
    
}

.dropdown-menu .dropdown-item{
    color: black;
    
    
}

.dropdown-item{
    color: white;
    text-transform: uppercase;
    transition: color 0.8s ease;
    margin-top: 15px;
    
}

.dropdown-item:hover{
    color: #15a1f1 !important;
    
}

#footer {
    background-color:#363636;
    
    
}

#footer p a {
    margin: 10px;
    
} 
.card-body2{
    color: #C0C0C0;
    background-color:#363636;
    height: 40vh;
    
}

.card-body2 p a{
    color: #C0C0C0;
}

.ourlocations{
    color: #C0C0C0;
}

.ins {
    color: white;
    font-size: 20px;
}

.map-container-6{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container-6 iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}

.card-img-top2{
    width: 400px;
    height: 220px;
}

.btn{
    
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid;
	display:inline-block;
	cursor:pointer;
	font-family:Arial;
    font-size:13px;
    color: #ff8c00;
	padding:10px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px ;
}

  @media screen and (max-width: 720px) {
    .display-1 {
      font-size: 50px;
    }
  }

  @media screen and (max-width: 720px) {
    .h5 {
      font-size: 17px;
    }
  }

  @media screen and (max-width: 720px) {
    .h2 {
      font-size: 22px;
    }
  }

  @media screen and (max-width: 600px) {
    .h4 {
      font-size: 20px;
    }
  }

  @media screen and (max-width: 600px) {
    .p {
      font-size: 15px;
    }
  }










  
